#contact {
	height: 600px;
}
.hide {
	display: none;
}
.show {
	display: block;
}

/* Register form */

#loginForm {
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#loginForm > a {
	display: inline-block;
	width: 100%;
}
#loginForm img {
	margin: 0 auto;
}

/* for loader btn */
.containerBtn {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.bar {
	background-color: rgb(110, 175, 255);
	min-width: 100%;
	min-height: 5px;
	position: relative;
	overflow: hidden;
}
.bar::after {
	content: '';
	min-height: 5px;
	position: absolute;
	background: #fff;
	transform: translateX(-100%);
	animation: animate 2s infinite;
}
.bar::before {
	content: '';
	min-height: 5px;
	position: absolute;
	background: #fff;
	transform: translateX(-100%);
	animation: animate 2s infinite;
	animation-delay: 1s;
}
@keyframes animate {
	0% {
		transform: translateX(-150%);
		min-width: 100px;
	}
	100% {
		transform: translateX(300%);
		min-width: 400px;
	}
}

@media screen and (max-width: 576px) {
	#alertStatus {
		width: 90%;
		right: none;
	}
	form label:focus {
		font-size: 1px;
	}
	#topNav {
		justify-content: space-evenly !important;
	}
	#navLogo {
		display: none !important;
	}
}
.text-align-center {
	text-align: center;
}
@media screen and (max-width: 768px) {
	#main {
		width: 90% !important;
		padding: 15px !important;
	}
	.header {
		justify-content: space-around !important;
	}
	#nav-btns {
		display: flex !important;
		align-items: center !important;
	}
}
